extends ../head

block content
    - var weekdays = ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота", "Воскресенье"]
    .container.mt-4
        h2.text-center Группа #{student_group.name}
        a.btn.btn-primary.mb-3(href="/addRecordSchedule/" + student_group.id) Добавить новую запись
        table.table.table-bordered
            thead.table-light
                tr
                    th №
                    th День недели
                    th Номер пары
                    th Учебная дисциплина и преподаватель
                    th Действие
            tbody
                - var i = 1;
                each el in schedule
                    tr
                        td #{i}
                        td #{weekdays[el.week_day]}
                        td #{el.pair_number}
                        td #{el.discipline_name} &mdash; #{el.teacher_name}
                        td
                            form(action="/deleteSchedule/scheduleId=" + el.id + "/studentGroupId=" + student_group.id, method="POST")
                                button.btn.btn-danger(type="submit") Удалить
                - i++
